/* propriedades gerais */
.contato {
    margin: 40px;
}

.contato > .tópico {
    color: var(--color-title);
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 600;
    font-family: var(--font-display);
}

.bloco3 {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.bloco3 > div {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-family: var(--font-primary);
    gap: 10px;
}

@media screen and (max-width: 768px){
    .contato > .tópico{
        font-size: 30px;
    }

    .contato iframe{
        max-width: 200px;
    }

    .bloco3{
    font-size: 10px;
    display: flex;
    flex-direction: column;
    }
}