.js-text {
    margin: 40px;
    margin-top: 120px;
}

.js-text > .tópico {
    color: var(--color-title);
    font-size: 50px;
    font-weight: 600;
    font-family: var(--font-display);
    margin-bottom: 20px;
}

.pr {
    font-size: 20px;
    font-weight: 400;
    font-family: var(--font-primary);
}

.pr > nav {
    color: var(--color-brown);
    font-size: 25px;
    border-bottom: 1px solid var(--color-border-faq);
}

.pr > div {
    margin: 30px 5px;
}

.js-text div{
    display: none;
}

.js-text div.active{
    display: block;
} 

@media screen and (max-width: 768px) {
    .pr{
        max-width: 200px;
        font-size: 15px;
    }
}