.tudo-faq {
    margin: 40px;
}

.tudo-faq > .tópico {
    color: var(--color-title);
    font-size: 50px;
    font-weight: 600;
    font-family: var(--font-display);
    margin-bottom: 20px;
}

.pr {
    font-size: 20px;
    font-weight: 400;
    font-family: var(--font-primary);
}

.pr > nav {
    color: var(--color-brown);
    font-size: 25px;
    border-bottom: 1px solid var(--color-border-faq);
}

.pr > div {
    margin: 30px 5px;
}