/* formatando o conteúdo principal */
.conteudo{
    margin-left: 100px;
    margin-right: 260px;
}

/* propriedades do título */
.titulo-explore{
    display: flex;
    flex-wrap: wrap;
    font-family: var(--font-display);
    font-size: 64px;
    font-weight: 700;
    line-height: 85px;
    letter-spacing: 2px;
    text-align: left;
}

/* títulos e textos de fontes menores */
.mostragem{
    font-size: 32px;
    color: var(--color-brown);
    top: -4px;
    left: -4px;
    font-family: var(--font-display);
    font-weight: 700;
    line-height: 43px;
}

.textos{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 800px;
    padding-top: 30px;
    margin-left: 35px;
}

.textos p{
    font-size: 20px;
    margin: 10px;
}

/* formatando as imagens */
.img{
    height: 600px;
    margin-top: 50px;
    overflow-x: hidden;
}

.conjunto-img{
    display: flex;
    flex-direction: row;
}

.js-content section{
    display: none;
}

.js-content section.active{
    display: block;
}

.img2:nth-of-type(1){
    background: url(/img/natureza.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 23rem;
}

.img2:nth-of-type(2){
    background: url(/img/praias.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 23rem;
}

.img2:nth-of-type(3){
    background: url(/img/montanhas.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 23rem;
}

.img2:nth-of-type(4){
    background: url(/img/Florestas.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 23rem;
}

.img::-webkit-scrollbar{
    background-color: #D9D9D9;
}

.img::-webkit-scrollbar-thumb{
    background-color: #2FA97C;
    border-radius: 10px;
}


/* Estilo de tela com 768px ou menos */
@media (max-width: 768px) {
    .conteudo{
        margin-left: 10px;
        margin-right: 10px;
    }

    .textos{
        margin-left: 0;
        font-size: 1rem;
    }

    .titulo-explore{
        max-width: 200px;
        font-size: 35px;
    }

    .conjunto-img{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 300px;
    }

    .img{
        max-height: 13rem;
        max-width: 18rem;
    }

    .img2{
        width: 100%;
        margin-right: 0;
    }
}
