
.menu{
    margin: 2rem 0 2rem 6rem;
    max-width: var(--width);
    background-color: var(--background-green);
}

.menulist{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.menulink a{
    padding: 10px;
    color: var(--color-white);
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 1.6px;
    text-align: left;
    display: flex;
    align-items: center;
}

.menulink span{
    padding: 4px;
}

/* formatando o botão toggle */
.toggle{
    align-items: center;
    gap: 0.5rem;
    background-color: #494949;
    color: var(--color-white);
    padding: 0.625rem;
    border-radius: 5px;
    letter-spacing: 0.1rem;
    font-weight: bold;
    max-width: 100px;
    display: none;
}

@media screen and (max-width: 768px) {
    .toggle {
        display: flex;
    }

	.js-lista{
        display: none;
    }
}

/* definindo a partir de que largura o botão irá aparecer */
@media screen and (max-width: 768px) {

    .menu{
        margin-left: 10px;
        padding: 40px 0 0 20px;
    }

    .js-menu li{
        display: none;
        animation: fadeOut .3s forwards;
    }

    .toggle{
        display: flex;
    }

    .js-menu li.active{
        display: block;
        position: absolute;
        top: 69px;
        left: 0;
        width: 100%;
        background-color: var(--background-green);
        z-index: 100;
        animation: slideDownMenu .5s forwards;
    }

    .toggle span.active{
        animation: slideDownMenu .5s forwards;
    }

}

@keyframes slideDownMenu {
    from{
        opacity: 0;
        transform: translateX(-10px);
    }

    to{
        opacity: 1;
        transform: translateX(0);
    }
}